<form  asp-controller="Product" asp-action="getproducts" method="post">
    
    <div class="form-group">
         <input type="text" name="name" />Enter Your Search  
    </div>
    <tr>
        <td><input type="submit" value="Submit Form" /></td>
    </tr>
</form>